<html>

<head></head>

<body>
    <h1>Movies Website</h1>
    
    <h2>Hello the movie added was {{title}}, is a {{genre}} that is {{description}}.</h2>

{{! INFORMATION BEING RE  }}
<ul>
  {{#listOfMovies}}
    <form method="POST" action="/delete-movie"> 
    
      <li>
        {{title}} {{description}} {{genre}}
        <input type="hidden" name="deleteMovie" value="{{title}}"/>
        <button>delete</button>
     </li> 

<ul>
     <form method="post" action="/genreMovie">
        <li>
            {{genre}}
        <input type="hidden" name="genreMovie"/>
        <button>Genre</button>
        </li>
    </form>
</ul>    
 
    </form>
 {{/listOfMovies}}

</ul> 

</body>

</html>