<html>

<head> </head>

    <body>
    <h1>Movies to view</h1>

    <form method="POST" action="/content">
        <input type="text" placeHolder="Title" name="title" />
        <input type="text" placeHolder="Description" name="description" />
        <input type="text" placeHolder="Genre" name="genre" />
        <button>Add</button>


    </form>



    </body>





</html>